{% extends 'collector/base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    {% if queryset %}
      <h2>Welcome staff member</h2>
      <h3>List of signups:</h3>
      <table class="table">
        <tr>
          <td>Full name</td>
          <td>Email</td>
          <td>signed up time</td>
        </tr>
        {% for i in queryset %}
        <tr>
          <td>{{ i.full_name }}</td>
          <td>{{ i.email }}</td>
          <td>{{ i.timestamp }}</td>
        </tr>
        {% endfor %} 
      </table>

    {% else %}
    <h2>Welcome member</h2>
    {% endif %}

  <p class="lead">Members only material:</p>
  </div>
{% else %}
<div class="bluewide">
<!-- Main component for a primary marketing message or call to action -->
      <div id="lady" class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>Blended Learning Guide</h2>
            <p>Do you want to provide online training and also maintain an in-person
               training program? This blended learning approach can be very effective
                and can help keep costs down.</p>
            <h3>The free white paper will teach you:</h3>
            <ul>
              <li>Tips for successful blended learning</li>
              <li>The ideal course length</li>
              <li>Blended learning best practices</li>
            </ul>
          </div>
          <div class="col-md-3 pull-right">
            <div id="signup">
            <form class="form-vertical" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input id="signupsubmit" class="btn btn-warning" type="submit" value="GET MY FREE WHITEPAPER" >
            </form>
            </div>
          </div>
        </div>
      </div> <!--</div lady>-->

</div> <!-- /bluewide -->

      <div id="companies" class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h4 class="text-center">TRUSTED BY OVER 1,000 COMPANIES</h4>
            <div class="row">
              <div class="col-md-3">
                <img src="{% static 'collector/img/logo_apple.png' %}" class="img-responsive center-block">
              </div>
              <div class="col-md-3">
                <img src="{% static 'collector/img/dyson.png' %}" class="img-responsive center-block">
              </div>
              <div class="col-md-3">
                <img src="{% static 'collector/img/logo_johnsonjohnson.png' %}" class="img-responsive center-block">
              </div>
              <div class="col-md-3">
                <img src="{% static 'collector/img/logo_kelloggs_blackandwhite.png' %}" class="img-responsive center-block">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <img src="{% static 'collector/img/logo_microsoft.png' %}" class="img-responsive center-block">
              </div>
              <div class="col-md-3">
                <img src="{% static 'collector/img/logo_pbs.png' %}" class="img-responsive center-block">
              </div>
              <div class="col-md-3">
                <img src="{% static 'collector/img/uber-side-4.png' %}" class="img-responsive center-block">
              </div>
              <div class="col-md-3">
                <img src="{% static 'collector/img/logo_ebay.png' %}" class="img-responsive center-block">
              </div>
            </div>
        </div>
        </div>
      </div>



{% endif %}
{% endblock content %}